# Data Cleaning and EDA

This notebook serves the purpose of ingesting, preparing and analyzing the main dataset used for the thesis, the HMDA mortgage dataset.

## Data Ingestion

The data in question (more information can be found in the thesis) is available for download in a .csv format.

In [1]:
import numpy as np
import pandas as pd

In [2]:
HMDA_raw = pd.read_csv("C:/Users/Hauke/OneDrive - ucp.pt/04_Thesis/00_GitHub/Thesis/data/raw/HMDA/CA_2022_SingleFamily_Built.csv")

C:\Users\Hauke\AppData\Local\Temp\ipykernel_48248\1082769657.py:1: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,44) have mixed types. Specify dtype option on import or set low_memory=False.
  HMDA_raw = pd.read_csv("C:/Users/Hauke/OneDrive - ucp.pt/04_Thesis/00_GitHub/Thesis/data/raw/HMDA/CA_2022_SingleFamily_Built.csv")

## Exploratory Data Analysis (EDA) - Raw Data

In [3]:
HMDA_raw.head()

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,...,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,2022,5493000YNV8IX4VD3X12,40140,CA,6065.0,6.065044e+09,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,3895,72.04,87400,51,637,1091,46
1,2022,5493000YNV8IX4VD3X12,40140,CA,6065.0,6.065041e+09,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,4599,75.80,87400,92,1231,1560,36
2,2022,5493000YNV8IX4VD3X12,40140,CA,6065.0,6.065042e+09,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,3835,83.94,87400,78,154,416,10
3,2022,5493000YNV8IX4VD3X12,33700,CA,6099.0,6.099000e+09,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Hispanic or Latino,...,NaN,NaN,NaN,8312,42.61,79300,129,1584,2342,20
4,2022,5493000YNV8IX4VD3X12,37100,CA,6111.0,6.111001e+09,NC,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,...,NaN,NaN,NaN,2107,26.39,115400,128,512,942,50

In [4]:
HMDA_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1503537 entries, 0 to 1503536
Data columns (total 99 columns):
 #   Column                                    Non-Null Count    Dtype
---  ------                                    --------------    -----
 0   activity_year                             1503537 non-null  int64
 1   lei                                       1503537 non-null  object
 2   derived_msa-md                            1503537 non-null  int64
 3   state_code                                1503537 non-null  object
 4   county_code                               1493002 non-null  float64
 5   census_tract                              1492061 non-null  float64
 6   conforming_loan_limit                     1503537 non-null  object
 7   derived_loan_product_type                 1503537 non-null  object
 8   derived_dwelling_category                 1503537 non-null  object
 9   derived_ethnicity                         1503537 non-null  object
 10  derived_race                              1503537 non-null  object
 11  derived_sex                               1503537 non-null  object
 12  action_taken                              1503537 non-null  int64
 13  purchaser_type                            1503537 non-null  int64
 14  preapproval                               1503537 non-null  int64
 15  loan_type                                 1503537 non-null  int64
 16  loan_purpose                              1503537 non-null  int64
 17  lien_status                               1503537 non-null  int64
 18  reverse_mortgage                          1503537 non-null  int64
 19  open-end_line_of_credit                   1503537 non-null  int64
 20  business_or_commercial_purpose            1503537 non-null  int64
 21  loan_amount                               1503537 non-null  float64
 22  loan_to_value_ratio                       1002825 non-null  object
 23  interest_rate                             960267 non-null   object
 24  rate_spread                               731349 non-null   object
 25  hoepa_status                              1503537 non-null  int64
 26  total_loan_costs                          694607 non-null   object
 27  total_points_and_fees                     18968 non-null    object
 28  origination_charges                       710040 non-null   object
 29  discount_points                           376128 non-null   object
 30  lender_credits                            268307 non-null   object
 31  loan_term                                 1466505 non-null  object
 32  prepayment_penalty_term                   121968 non-null   object
 33  intro_rate_period                         387103 non-null   object
 34  negative_amortization                     1503537 non-null  int64
 35  interest_only_payment                     1503537 non-null  int64
 36  balloon_payment                           1503537 non-null  int64
 37  other_nonamortizing_features              1503537 non-null  int64
 38  property_value                            1171033 non-null  object
 39  construction_method                       1503537 non-null  int64
 40  occupancy_type                            1503537 non-null  int64
 41  manufactured_home_secured_property_type   1503537 non-null  int64
 42  manufactured_home_land_property_interest  1503537 non-null  int64
 43  total_units                               1503537 non-null  int64
 44  multifamily_affordable_units              7428 non-null     object
 45  income                                    1341088 non-null  float64
 46  debt_to_income_ratio                      980970 non-null   object
 47  applicant_credit_score_type               1503537 non-null  int64
 48  co-applicant_credit_score_type            1503537 non-null  int64
 49  applicant_ethnicity-1                     1502680 non-null  float64
 50  applicant_ethnicity-2                     156546 non-null   float64
 51  applicant_ethnicity-3                     2524 non-null     float64
 52  applicant_ethnicity-4                     56 non-null       float64
 53  applicant_ethnicity-5                     10 non-null       float64
 54  co-applicant_ethnicity-1                  1503262 non-null  float64
 55  co-applicant_ethnicity-2                  68323 non-null    float64
 56  co-applicant_ethnicity-3                  980 non-null      float64
 57  co-applicant_ethnicity-4                  24 non-null       float64
 58  co-applicant_ethnicity-5                  2 non-null        float64
 59  applicant_ethnicity_observed              1503537 non-null  int64
 60  co-applicant_ethnicity_observed           1503537 non-null  int64
 61  applicant_race-1                          1503145 non-null  float64
 62  applicant_race-2                          174743 non-null   float64
 63  applicant_race-3                          12023 non-null    float64
 64  applicant_race-4                          1178 non-null     float64
 65  applicant_race-5                          318 non-null      float64
 66  co-applicant_race-1                       1503395 non-null  float64
 67  co-applicant_race-2                       77007 non-null    float64
 68  co-applicant_race-3                       5226 non-null     float64
 69  co-applicant_race-4                       480 non-null      float64
 70  co-applicant_race-5                       110 non-null      float64
 71  applicant_race_observed                   1503537 non-null  int64
 72  co-applicant_race_observed                1503537 non-null  int64
 73  applicant_sex                             1503537 non-null  int64
 74  co-applicant_sex                          1503537 non-null  int64
 75  applicant_sex_observed                    1503537 non-null  int64
 76  co-applicant_sex_observed                 1503537 non-null  int64
 77  applicant_age                             1503537 non-null  object
 78  co-applicant_age                          1503537 non-null  object
 79  applicant_age_above_62                    1364418 non-null  object
 80  co-applicant_age_above_62                 611260 non-null   object
 81  submission_of_application                 1503537 non-null  int64
 82  initially_payable_to_institution          1503537 non-null  int64
 83  aus-1                                     1503537 non-null  int64
 84  aus-2                                     127657 non-null   float64
 85  aus-3                                     20994 non-null    float64
 86  aus-4                                     5227 non-null     float64
 87  aus-5                                     4581 non-null     float64
 88  denial_reason-1                           1503537 non-null  int64
 89  denial_reason-2                           40759 non-null    float64
 90  denial_reason-3                           7054 non-null     float64
 91  denial_reason-4                           793 non-null      float64
 92  tract_population                          1503537 non-null  int64
 93  tract_minority_population_percent         1503537 non-null  float64
 94  ffiec_msa_md_median_family_income         1503537 non-null  int64
 95  tract_to_msa_income_percentage            1503537 non-null  int64
 96  tract_owner_occupied_units                1503537 non-null  int64
 97  tract_one_to_four_family_homes            1503537 non-null  int64
 98  tract_median_age_of_housing_units         1503537 non-null  int64
dtypes: float64(32), int64(41), object(26)
memory usage: 1.1+ GB

In [5]:
HMDA_raw.describe()

,activity_year,derived_msa-md,county_code,census_tract,action_taken,purchaser_type,preapproval,loan_type,loan_purpose,lien_status,...,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
count,1503537.0,1.503537e+06,1.493002e+06,1.492061e+06,1.503537e+06,1.503537e+06,1.503537e+06,1.503537e+06,1.503537e+06,1.503537e+06,...,40759.000000,7054.000000,793.000000,1.503537e+06,1.503537e+06,1.503537e+06,1.503537e+06,1.503537e+06,1.503537e+06,1.503537e+06
mean,2022.0,3.620769e+04,6.057078e+03,6.057253e+09,2.501587e+00,4.981873e+00,1.981012e+00,1.201846e+00,1.418716e+01,1.207833e+00,...,5.002233,6.271761,7.315259,5.020362e+03,5.905775e+01,1.031129e+05,1.166305e+02,1.053468e+03,1.480468e+03,3.993513e+01
std,0.0,1.390486e+04,2.661617e+01,2.714773e+07,1.775274e+00,1.646557e+01,1.364821e-01,5.181575e-01,1.481168e+01,4.057565e-01,...,2.670639,2.375737,2.081419,1.939129e+03,2.383132e+01,2.697459e+04,4.712574e+01,5.127602e+02,6.070215e+02,1.832085e+01
min,2022.0,0.000000e+00,6.001000e+03,6.001400e+09,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000,1.000000,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2022.0,3.108400e+04,6.037000e+03,6.037408e+09,1.000000e+00,0.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,3.000000,4.000000,6.000000,3.740000e+03,3.954000e+01,8.740000e+04,8.400000e+01,6.880000e+02,1.071000e+03,2.700000e+01
50%,2022.0,4.014000e+04,6.065000e+03,6.065042e+09,1.000000e+00,0.000000e+00,2.000000e+00,1.000000e+00,4.000000e+00,1.000000e+00,...,4.000000,6.000000,9.000000,4.864000e+03,5.903000e+01,9.110000e+04,1.110000e+02,1.004000e+03,1.429000e+03,4.200000e+01
75%,2022.0,4.174000e+04,6.073000e+03,6.073017e+09,4.000000e+00,2.000000e+00,2.000000e+00,1.000000e+00,3.200000e+01,1.000000e+00,...,7.000000,9.000000,9.000000,6.079000e+03,8.020000e+01,1.154000e+05,1.440000e+02,1.362000e+03,1.854000e+03,5.400000e+01
max,2022.0,9.999900e+04,6.115000e+03,1.306703e+10,8.000000e+00,7.200000e+01,2.000000e+00,4.000000e+00,3.200000e+01,2.000000e+00,...,9.000000,9.000000,9.000000,3.789200e+04,1.000000e+02,1.683000e+05,3.270000e+02,3.467000e+03,7.708000e+03,8.000000e+01

In [6]:
HMDA_raw["loan_amount"].sum()

755869735000.0

## Data Preparation

### Reducing amount of features

In [7]:
HMDA_clean = HMDA_raw.copy()

- activity_year: Does not matter as pre-filtered
- lei: Does not matter as all financial institutions are used
- derived_msa-md: Does not matter as county code is the geographical variable
- state_code: Does not matter as pre-filtered
- census_tract: Not relevant for the analysis
- derived_dwelling_category: Does not matter as pre-filtered

In [9]:
HMDA_clean = HMDA_clean.drop(columns=["activity_year", "lei", "derived_msa-md", "state_code", "census_tract", "derived_dwelling_category"])

Only focus on the main applicant, not the co-applicant

In [12]:
HMDA_clean = HMDA_clean[HMDA_clean.columns.drop(list(HMDA_clean.filter(regex='co-applicant')))]

Reasons for Denial are dropped, as only the classification of the loan is of interest

In [16]:
HMDA_clean = HMDA_clean[HMDA_clean.columns.drop(list(HMDA_clean.filter(regex='denial_reason')))]

The dataset contains geographical information based on census tracts. As, however, the analysis of geographical features will be based on county level, the census tract is dropped.

In [18]:
HMDA_clean = HMDA_clean[HMDA_clean.columns.drop(list(HMDA_clean.filter(regex='tract_')))]
HMDA_clean = HMDA_clean[HMDA_clean.columns.drop(list(HMDA_clean.filter(regex='ffiec_msa_md_median_family_income')))]

The dataset contains both actual information on specific protected attributes (e.g. "applicant_ethnicity-1" to "applicant_erthniciy-5") and derived information that aggregate the former into one overarching category (e.g. "derived_ethnicity"). As this analysis focuses on fairness concerns, where such protected attributes play an important role, the derived information is dropped in favor of the actual information in order to achieve a higher granularity of this important type of data. However, as only few applicants have made use of all the fields (for example, only 0.07% of applicants have reported more than two ethnicities), the amount of features is reduced by only including the top two selections for each protected attribute. This is done in order to avoid a high amount of missing values in the dataset as well as to strike a balance between the amount of features (and therefore model performance) and the granularity of the data.

In [24]:
HMDA_clean = HMDA_clean[HMDA_clean.columns.drop(list(HMDA_clean.filter(regex='derived')))]
HMDA_clean = HMDA_clean[HMDA_clean.columns.drop(list(HMDA_clean.filter(regex='-3')))]
HMDA_clean = HMDA_clean[HMDA_clean.columns.drop(list(HMDA_clean.filter(regex='-4')))]
HMDA_clean = HMDA_clean[HMDA_clean.columns.drop(list(HMDA_clean.filter(regex='-5')))]

In [25]:
HMDA_clean.shape

(1503537, 52)

In [26]:
HMDA_clean.head()

,county_code,conforming_loan_limit,action_taken,purchaser_type,preapproval,loan_type,loan_purpose,lien_status,reverse_mortgage,open-end_line_of_credit,...,applicant_race-2,applicant_race_observed,applicant_sex,applicant_sex_observed,applicant_age,applicant_age_above_62,submission_of_application,initially_payable_to_institution,aus-1,aus-2
0,6065.0,C,6,0,2,1,5,1,2,2,...,NaN,3,4,3,8888,NaN,3,3,6,NaN
1,6065.0,C,6,0,2,2,5,1,2,2,...,NaN,3,4,3,8888,NaN,3,3,6,NaN
2,6065.0,C,6,0,2,2,1,1,2,2,...,NaN,3,4,3,8888,NaN,3,3,6,NaN
3,6099.0,C,1,1,2,1,1,1,2,2,...,NaN,2,1,2,45-54,No,1,1,1,NaN
4,6111.0,NC,3,0,2,1,31,1,2,2,...,NaN,2,1,2,55-64,No,1,1,6,NaN

To-Do
- Drop NA where required (reasoning!) - Check Imputation for other features
- Binary loan grant variable for classification (and drop of action taken)
- Check standardization of features
-